div#root {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    /* Press Start 2P */
    /* 'Open Sans' */
  }

  body {
    background: black; /* Цвет фона */
    color: #fc0; /* Цвет текста */
   }

   /* canvas {
   /* background: rgb(25, 25, 25); /* Цвет фона */
   /* border-color: rgb(13, 5, 128); /* Цвет фона */
   /* border: 4px solid rgb(255, 255, 255);*/
   /* } */ 
